USE [master]
GO
/****** Object:  Database [BD_MINIMARKET]    Script Date: 26/04/2025 3:18:59 ******/
CREATE DATABASE [BD_MINIMARKET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_MINIMARKET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_MINIMARKET.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_MINIMARKET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_MINIMARKET_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_MINIMARKET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_MINIMARKET]
GO
/****** Object:  Table [dbo].[TB_CATEGORIAS]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CATEGORIAS](
	[codigo_ca] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_ca] [varchar](40) NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_TB_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[codigo_ca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_MARCAS]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MARCAS](
	[codigo_ma] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_ma] [varchar](40) NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_TB_MARCAS] PRIMARY KEY CLUSTERED 
(
	[codigo_ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PRODUCTOS]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PRODUCTOS](
	[codigo_pr] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_pr] [varchar](100) NULL,
	[codigo_ma] [int] NOT NULL,
	[codigo_um] [int] NOT NULL,
	[codigo_ca] [int] NOT NULL,
	[stock_min] [decimal](10, 2) NULL,
	[stock_max] [decimal](10, 2) NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_TB_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[codigo_pr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_UNIDADES_MEDIDAS]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_UNIDADES_MEDIDAS](
	[codigo_um] [int] IDENTITY(1,1) NOT NULL,
	[abreviatura_um] [varchar](3) NULL,
	[descripcion_um] [varchar](20) NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_TB_UNIDADES_MEDIDAS] PRIMARY KEY CLUSTERED 
(
	[codigo_um] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_PRODUCTOS_TB_CATEGORIAS] FOREIGN KEY([codigo_ca])
REFERENCES [dbo].[TB_CATEGORIAS] ([codigo_ca])
GO
ALTER TABLE [dbo].[TB_PRODUCTOS] CHECK CONSTRAINT [FK_TB_PRODUCTOS_TB_CATEGORIAS]
GO
ALTER TABLE [dbo].[TB_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_PRODUCTOS_TB_MARCAS] FOREIGN KEY([codigo_ma])
REFERENCES [dbo].[TB_MARCAS] ([codigo_ma])
GO
ALTER TABLE [dbo].[TB_PRODUCTOS] CHECK CONSTRAINT [FK_TB_PRODUCTOS_TB_MARCAS]
GO
ALTER TABLE [dbo].[TB_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_PRODUCTOS_TB_UNIDADES_MEDIDAS] FOREIGN KEY([codigo_um])
REFERENCES [dbo].[TB_UNIDADES_MEDIDAS] ([codigo_um])
GO
ALTER TABLE [dbo].[TB_PRODUCTOS] CHECK CONSTRAINT [FK_TB_PRODUCTOS_TB_UNIDADES_MEDIDAS]
GO
/****** Object:  StoredProcedure [dbo].[USP_Eliminar_ca]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_Eliminar_ca] 
@nCodigo_ca int=0
as
 update TB_CATEGORIAS set estado=0 where codigo_ca=@nCodigo_ca;
GO
/****** Object:  StoredProcedure [dbo].[USP_Eliminar_ma]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_Eliminar_ma]   
@nCodigo_ma int=0  
as  
 update TB_MARCAS set estado=0 where codigo_ma=@nCodigo_ma;  
GO
/****** Object:  StoredProcedure [dbo].[USP_Guardar_ca]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_Guardar_ca] 
@nOpcion int=0,
@nCodigo_ca int=0,
@cDescripcion_ca varchar(40)=''
as

if @nOpcion=1 -- nuevo registro
begin 
	insert into TB_CATEGORIAS (descripcion_ca,estado) values(@cDescripcion_ca,1);
end;
else -- Actulizar
begin
	update TB_CATEGORIAS set descripcion_ca=@cDescripcion_ca where codigo_ca=@nCodigo_ca;
end;
GO
/****** Object:  StoredProcedure [dbo].[USP_Guardar_ma]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_Guardar_ma]   
@nOpcion int=0,  
@nCodigo_ma int=0,  
@cDescripcion_ma varchar(40)=''  
as  
  
if @nOpcion=1 -- nuevo registro  
begin   
 insert into TB_MARCAS (descripcion_ma,estado) values(@cDescripcion_ma,1);  
end;  
else -- Actulizar  
begin  
 update TB_MARCAS set descripcion_ma=@cDescripcion_ma where codigo_ma=@nCodigo_ma;  
end;  
GO
/****** Object:  StoredProcedure [dbo].[USP_Listado_ca]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_Listado_ca] 
@cTexto varchar(100)=''
as
	select codigo_ca, descripcion_ca 
	from TB_CATEGORIAS 
	where estado=1 
	and upper(trim(cast(codigo_ca as char)) + trim(descripcion_ca)) like  '%'+ upper(trim(@cTexto)) +'%';
GO
/****** Object:  StoredProcedure [dbo].[USP_Listado_ma]    Script Date: 26/04/2025 3:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USP_Listado_ma]   
@cTexto varchar(40)=''  
as  
 select codigo_ma, descripcion_ma   
 from TB_MARCAS  
 where estado=1   
 and upper(trim(cast(codigo_ma as char)) + trim(descripcion_ma)) like  '%'+ upper(trim(@cTexto)) +'%';  
GO
USE [master]
GO
